body {
  font-family: $figtree;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.926vw;

  color: $black;
  background-color: $gray-3;
}

.section {
  @apply min-h-screen h-fit;
}

.link-icon {
  @apply w-[2.315vw] h-[2.315vw] flex items-center justify-center rounded-[0.694vw];

  background: rgba(215, 215, 219, 0.25);

  &::before {
    content: '';

    @apply bg-no-repeat bg-contain bg-center w-[0.694vw] h-[0.694vw];

    background-image: url('/images/icons/link-icon.svg');
  }
}

.button-filter {
  @apply h-[5vh] px-[1.736vw] flex items-center justify-center rounded-[5.787vw] transition-colors duration-[400ms] font-semibold leading-[125%];

  color: $black-7;
  background-color: transparent;

  &.active {
    background-color: $black-2;
    color: #fff;
  }
}

.people-card {
  @apply w-[13.600vw] min-w-[13.600vw] h-[40vh] flex items-center justify-start relative;

  > div {
    @apply w-full h-full rounded-[1.389vw] flex flex-col items-center justify-end pb-[1.5vh];

    > button {
      color: #000 !important;
    }
  }

  &:first-child {
    > div {
      background-color: rgba(253, 167, 217, 0.25);
    }
  }

  &:nth-child(2) {
    > div {
      background-color: rgb(43, 190, 175, 0.25);
    }
  }

  &:nth-child(3) {
    > div {
   
      background-color: rgb(252, 172, 4, 0.25);
    }
  }

  &:nth-child(4) {
    > div {
      background-color: rgba(234, 234, 236, 0.25);
    }
  }

  .photo {
    @apply w-[13.600vw] h-[13.600vw] rounded-full translate-y-[-50%] absolute left-0 top-0 z-[1];
  }
}

.descriptor {
  @apply p-[0.926vw] rounded-[5.787vw] flex items-center justify-center font-bold leading-[150%] text-[0.810vw] gap-[0.579vw];

  background-color: $gray-4;
  color: $black-2;

  &.white {
    background-color: #fff;
  }

  &.dark {
    background-color: $black-3;
    border: 0.059vw solid $gray;
    color: #fff;
  }

  img {
    @apply w-[0.694vw] h-[0.694vw] gap-[0.579vw];
  }
}

.button {
  &.primary {
    @apply py-[0.608vw] px-[1.331vw] min-w-[8.102vw] flex items-center justify-center leading-[120%] font-semibold min-h-[2.315vw] rounded-[0.347vw] gap-[0.579vw];

    &:hover {
      .button-arrow {
        @apply translate-x-1/4;
      }
    }

    .button-arrow {
      @apply w-[1.079vw] h-[0.868vw] min-w-[1.079vw] min-h-[0.868vw] transition-transform duration-[400ms];
    }

    .button-icon {
      @apply w-[1.5vw] h-[1.2vw] min-w-[1.5vw] min-h-[1.2vw];
    }

    border: 0.059vw solid $black-7;
    background-color: $gray-3;
    color: $black;
  }

  &.primary-rounded {
    @apply p-[0.926vw] text-[0.810vw] font-bold leading-[150%] bg-white flex items-center justify-center rounded-[5.787vw];

    color: $black-2;
  }

  &.secondary {
    @apply py-[0.608vw] px-[1.331vw] min-w-[8.102vw] flex items-center justify-center leading-[120%] font-semibold min-h-[2.315vw] rounded-[0.347vw] gap-[0.579vw] transition-colors duration-[400ms];

    &:hover {
      background-color: #fff;
      color: $black;
    }

    .button-arrow {
      @apply w-[0.9vw] h-[0.868vw] min-w-[0.9vw] min-h-[0.868vw];
    }

    .button-icon {
      @apply w-[1.5vw] h-[1.2vw] min-w-[1.5vw] min-h-[1.2vw];
    }

    border: 0.059vw solid $black;
    background-color: $black;
    color: #fff;
  }

  &.circle-arrow {
    @apply flex items-center gap-[0.868vw];

    .text {
      @apply font-semibold leading-[150%] relative overflow-hidden;

      span {
        @apply transition-transform duration-[350ms];

        &:nth-child(2) {
          @apply absolute whitespace-nowrap top-0 left-0 right-0 bottom-0 translate-y-full;
        }
      }
    }

    &.secondary-circle-arrow {
      .arrow {
        background-color: #fff;
      }
    }

    &:hover {
      .text {
        span {
          &:nth-child(1) {
            @apply translate-y-[-100%];
          }

          &:nth-child(2) {
            @apply translate-y-0;
          }
        }
      }

      .icon {
        img {
          @apply translate-x-0;

          &:nth-child(1) {
            transform: translate(0) !important;
          }

          &:nth-child(2) {
            transform: translate(100%) !important;
          }
        }
      }
    }

    .arrow {
      @apply w-[2.894vw] h-[2.894vw] rounded-full flex items-center justify-center;

      background-color: $black-2;

      .icon {
        @apply w-[0.810vw] h-[0.810vw] flex overflow-hidden;

        img {
          @apply w-full h-full object-contain object-center transition-transform duration-[350ms];

          &:nth-child(1) {
            @apply translate-x-[-100%];
          }

          &:nth-child(2) {
            @apply translate-x-[-100%];
          }
        }
      }
    }
  }
}

.checkbox {
  @apply w-[1.042vw] h-[1.042vw] rounded-[0.347vw] appearance-none;

  border: 0.059vw solid $black-5;
}

.checkbox-group {
  @apply flex items-center gap-[0.752vw];
}

.btn-submit {
  @apply min-h-[5vh] h-[5vh] flex items-center justify-center min-w-[8.391vw] w-fit px-[1.331vw] text-white leading-[120%] font-semibold rounded-[0.347vw] transition-colors duration-[400ms];

  background-color: $black-2;

  &:hover {
    background-color: #fff;
    color: $black-2;
  }

  border: 0.059vw solid $gray;
}

.input {
  @apply py-[0.926vw] pl-[0.868vw] pr-[2.604vw] min-h-[5vh] h-[5vh] rounded-[0.347vw] font-semibold leading-[120%];

  color: $black-7;

  border: 0.059vw solid $black-5;
}

.gray {
  color: $gray;
}

.black {
  color: $black;
}

.black-2 {
  color: $black-2;
}

.black-4 {
  color: $black-4;
}

.black-6 {
  color: $black-6;
}

.bgc-black-2 {
  background-color: $black-2 !important;
}

.black-5 {
  color: $black-5;
}

.black-7 {
  color: $black-7;
}
