h1 {
  font-size: 5.556vw !important;
  line-height: 90% !important;
  font-weight: 400 !important;
  letter-spacing: -0.111vw !important;
}

h2 {
  font-size: 3.704vw !important;
  line-height: 100% !important;
  font-weight: 400 !important;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

.text-2 {
  @apply text-[1.389vw] font-medium leading-[140%];
  color: $black-4;
}

.main-text {
  @apply text-[1.157vw] font-normal leading-[120%];
  color: $black-4;
}
