// fonts
$figtree: 'Figtree', sans-serif;

// colors
$black: #0b0b0e;
$black-2: #1a1a1e;
$black-4: #3f3f46;
$black-5: #55555e;
$black-7: #a4a4ad;

$gray-2: #e7e7e9;
$gray-3: #f7f7f8;
$gray-4: #fafafa;

$process-default: #2bbeaf;
$secondary-default: #fcac04;
$loops-default: #e31247;

// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1140px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;
