.blog {
  &Container {
    padding-block: 22.4vh 16.8vh;
    padding-inline: 11.574vw;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 11vh;
  }

  &Welcome {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6vh;
  }

  &Title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.5vh;
  }

  &Subtitle {
    line-height: 140%;
    font-weight: 400;
    color: $black-4;
  }

  &LatestPost {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8vh;
  }

  &Posts {
    display: flex;
    flex-direction: column;
    gap: 6.5vh;

    .posts {
      width: 100%;

      display: grid;
      column-gap: 2.315vw;
      row-gap: 2.431vw;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-auto-rows: auto;

      > div:nth-child(4n) {
        grid-column: 1 / 4;
      }
    }
  }

  &Filter {
    display: flex;
    align-items: center;
    gap: 0.868vw;
  }

  &LoadMore {
    margin: 0 auto;
    cursor: pointer;
  }
}
