.persona {
  &Container {
    @apply pt-[20.2vh] pb-[26.2vh] px-[11.574vw] w-full flex items-stretch flex-col gap-[24.2vh];
  }

  &Wrapper {
    @apply flex flex-col gap-[12vh] items-stretch;
  }

  &TitleRow {
    @apply flex items-start justify-between;

    h2 {
      @apply max-w-[30.093vw] w-full;
    }

    p {
      @apply max-w-[31.539vw] font-normal w-full leading-[150%];

      color: $black-5;
    }
  }

  &Blocks {
    @apply flex flex-col gap-[17vh];
  }

  &Block {
    @apply flex flex-col gap-[6vh];

    &:nth-child(2n) {
      .layout {
        .block {
          &:first-child {
            grid-row: 1 / 1;
          }

          &:nth-child(2) {
            grid-row: 1 / 3;

            .graph {
              @apply flex-1;
            }
          }
        }
      }
    }

    h3 {
      @apply max-w-[29.225vw] w-full;
    }

    .layout {
      @apply gap-[1.736vw] grid;

      grid-template-columns: repeat(2, 1fr);

      .block {
        @apply flex flex-col bg-white rounded-[1.389vw];

        &:first-child {
          grid-row: 1 / 3;

          .graph {
            @apply flex-1;
          }
        }

        .graph {
          @apply rounded-[1.389vw] overflow-hidden w-full min-h-[32vh] h-fit relative;

          img {
            @apply absolute top-0 left-0 w-full h-full object-contain object-center;
          }

          background-color: $black-2;
        }

        .text {
          @apply w-full flex flex-col items-start gap-[2.4vh] leading-[150%] font-normal p-[2.315vw];

          .title {
            @apply text-[1.620vw] text-black;
          }

          .subtitle {
            @apply text-[1.215vw] text-[#55555D];
          }
        }
      }
    }
  }
}
