.screenCast {
  &Container {
    @apply w-full h-fit py-[8.5vh] pb-[17vh] flex flex-col items-center justify-center gap-[3.5vh] opacity-0 translate-y-1/4 scale-[0.85];
  }

  &Video {
    @apply max-w-[71.875vw] h-[46.759vw] w-full rounded-[1.389vw] relative;

    box-shadow: 1.157vw 1.157vw 2.315vw 0vw rgba(0, 0, 0, 0.5);

    img {
      @apply w-full h-full object-cover object-center rounded-[1.389vw];
    }
  }

  &Steps {
    @apply flex flex-col gap-[2.7vh] items-center justify-center absolute left-1/2 bottom-0 translate-x-[-50%] translate-y-[65%];

    .progressBars {
      @apply flex items-center gap-[3.299vw];

      .progressBar {
        @apply opacity-20 h-[0.4vh] rounded-[0.087vw] w-[11.285vw] overflow-hidden;

        background-color: $black-7;

        &:nth-child(1) {
          background-color: $process-default;
        }

        &:nth-child(2) {
          background-color: $secondary-default;
        }

        &:nth-child(3) {
          background-color: $loops-default;
        }

        > div {
          @apply h-full w-1/2;
        }
      }
    }

    .steps {
      @apply flex items-center justify-center gap-[0.926vw] py-[0.347vw] px-[0.579vw] bg-white rounded-[0.926vw];

      .devider {
        @apply h-[4.2vh] w-[0.059vw];

        background-color: $gray-2;
      }

      .step {
        @apply flex items-center gap-[0.463vw] px-[0.868vw] min-w-[12.731vw] w-[12.731vw] min-h-[5vh] h-[5vh] font-semibold leading-[120%] capitalize;

        &:nth-child(1) {
          .icon {
            background-color: $process-default;
          }
        }

        &:nth-child(3) {
          .icon {
            background-color: $secondary-default;
          }
        }

        &:nth-child(5) {
          .icon {
            background-color: $loops-default;
          }
        }

        .icon {
          @apply w-[2.025vw] h-[2.025vw] flex items-center justify-center rounded-[0.521vw];

          img {
            @apply w-[0.984vw] h-[0.984vw] object-contain object-center;
          }
        }
      }
    }
  }
}
